@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#b3aabb;
    /* bu benim ana sayfamın arkapaln rengi olacak */

    --black-color:#89888ab1;
    --border-color: 0.2rem solid rgbn(255,255,255,0.4)
}

*{
    font-family: "Poppins", sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s ease;
    /* geçiş efekti */
}

/* html codeları */

html{
    font-size: 62.5%;
    /* rem to px için yapılıyormuş responsive için gerekliymiş */
    overflow-x: hidden; 
    scroll-padding-top: 9rem; 
    scroll-behavior:smooth ;

}
body{
    background-color:var(--main-color) ; 
}

section{
    padding: 2.5rem 7%;
    /* burası aşağıdaki 4 lü grupla aradaki boşluk için */

}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: 10rem;
    font-size: 1rem;
    color: #fff;
    background-color: var(--black-color);
    cursor: pointer;
    /* a etiketi olduğu için aslında gerek yok */
}

/* !header start ***********************************************************************************************************************/


.header .logo img{
    height: 7rem;
}



.header{
    /*       */
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 1rem,3rem;
    position:2rem 7% ;
    /* sayfa kaydığında header da aşağıya gelsin diye */
    position: sticky;
    top: 0;
    z-index: 1000;

}


.header .navbar a{
    margin: 0 1rem;
    font-size: 1.2rem;
    color: var(--black-color);
    border-bottom: 0.1rem solid transparent;
}


.header .navbar .active,/* , ile ikisini aynı anda tanımlayabiliyoruz */
.header .navbar a:hover{
   /* fare üzerine geldiğinde altında çizgi oluşur */
    border-color: var(--main-color);
    padding-bottom: 0.2rem;
}


/* çalışmıoooooooooooo */
/* .header.buttons  button{
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
    background-color: transparent;
} */

/* header kısmı end **************************************************************************************************************** */




/* home kısmı  start **************************************************************************************************************** */
.home{
    min-height: 110vh;
    background: url(../images/16.png)
    no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -14.5rem;
    display: flex;
    align-items: center;
    
}

 .home.content{
 max-width: 6rem;  
 font-size: 2rem;} 

 
/* yazılarda görünmüyooooo */
.home.content h1{
    font-size: 6rem;
    color: white;
}

.home.content p{
    font-size: 2rem;
    font-weight: 300;
    line-height:  1.8;
    padding: 1rem 0;
    color: #ffffff;
}

/* home end **************************************************************************************************************** */



/* start menu *****************************/
.menu .box-container{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(30rem, 1fr));
gap: 1.5rem;
}

.menu.box-container.box{
    padding: 3rem;
    background-color: #fff;
    border-radius: 3rem;
    background-color: #fff;
    min-height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.menu.box-container.box img{
    width: 100%;
   
    object-fit: cover;
}



/* end menu *******************************/
